<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body {
  background-image: url("img/background.png");
  background-repeat: repeat-xy;
}
</style>


</head>
<body>
<h1 class="text-center"> GLOBAL CHARITY </h1>
<div class="container">
<h3> step 1 : Level Earning</h3>
<table class="table">
  <thead class="thead-dark p-2">
    <tr>
      <th scope="col">level 1</th>
      <th scope="col">Total downline</th>
      <th scope="col">Direct Reference</th>
      <th scope="col">Action Days</th>
	  <th scope="col">Weekly Return</th>
	  <th scope="col">Reactivation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>20</td>
      <td>1</td>
      <td>5</td>
	  <td>$ 20.00</td>
	  <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>40</td>
      <td>1</td>
      <td>6</td>
	  <td>$ 30.00</td>
	  <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>100</td>
      <td>1</td>
      <td>7</td>
	  <td>$ 80.00</td>
	  <td></td>
    </tr>
	 <tr>
      <th scope="row">4</th>
      <td>300</td>
      <td>1</td>
      <td>7</td>
	  <td>$ 120.00</td>
	  <td></td>
    </tr>
	 <tr>
      <th scope="row">5</th>
      <td>600</td>
      <td>1</td>
      <td>7</td>
	  <td>$ 190.00</td>
	  <td></td>
	  
    </tr>
	 <tr>
      <th scope="row">6</th>
      <td>1100</td>
      <td>1</td>
      <td>7</td>
	  <td>$ 250.00</td>
	  <td></td>
	  
    </tr>
		 
		 
		 <tr>
      <th scope="row">7</th>
      <td>3000</td>
      <td>1</td>
      <td>7</td>
	  <td>$ 400.00</td>
	  <td>$ 50 & at each level below </td>
	  
    </tr>
		 <tr>
      <th scope="row">8</th>
      <td>6000</td>
      <td>1</td>
      <td>8</td>
	  <td>$ 700.00</td>
	  <td> </td>
	  
    </tr>
		 <tr>
      <th scope="row">9</th>
      <td>9000</td>
      <td>1</td>
      <td>8</td>
	  <td>$ 900.00</td>
	  <td></td>
	  
    </tr>
			 <tr>
      <th scope="row">10</th>
      <td>12000</td>
      <td>1</td>
      <td>9</td>
	  <td>$ 1300.00</td>
	  <td></td>
	  
    </tr>
			 <tr>
      <th scope="row">11</th>
      <td>18000</td>
      <td>1</td>
      <td>9</td>
	  <td>$ 2000.00</td>
	  <td></td>
	  
    </tr>
			 <tr>
      <th scope="row">12</th>
      <td>22000</td>
      <td>1</td>
      <td>10</td>
	  <td>$ 4000.00</td>
	  <td></td>
	  
    </tr>
			 <tr>
      <th scope="row">13</th>
      <td>26000</td>
      <td>1</td>
      <td>10</td>
	  <td>$ 6000.00</td>
	  <td></td>
	  
    </tr>
  </tbody>
</table>


</div>

<div class="container">
<h3>step 2: Generating Earning</h3>
<table class="table">
  <thead class="thead-dark p-2">
    <tr>
      <th scope="col">Generation</th>
      <th scope="col">Revenue Percentage</th>
      <th scope="col">Revenue Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>1st Level or Generation</td>
      <td>10.00%</td>
	  <td> $ 5.00</td>
      
	  
	 
    </tr>
    <tr>
      
      <td>2nd Level or Generation</td>
      <td>4.00 %</td>
      <td>$ 2.00</td>
	  
    </tr>
    <tr>
     
      <td>3rd Level or Generation</td>
      <td>2.00 %</td>
      <td>$ 1.00</td>
	 
	 
    </tr>
	 <tr>
     
      <td>4th Level or Generation</td>
      <td>2.00 %</td>
      <td>$ 1.00</td>
	 
    </tr>
	 <tr>
     
      <td>5th Level or Generation</td>
      <td>1.00%</td>
      <td>$ 0.50</td>
	 
	  
    </tr>
	 <tr>
      
      <td>6th Level or Generation</td>
      <td>1.00 %</td>
      <td>$ 0.50</td>
	  
	  
    </tr>
	 <tr>
      
      <td>7th Level or Generation</td>
      <td>0.50%</td>
      <td>$ 0.25</td>
	  
	  
    </tr>
		 <tr>
      
      <td>8th Level or Generation</td>
      <td>0.50%</td>
      <td>$ 0.25</td>
	  
	  
    </tr>
			 <tr>
      
      <td>9th Level or Generation</td>
      <td>0.50%</td>
      <td>$ 0.25</td>
	  
	  
    </tr>
			 <tr>
      
      <td>10th Level or Generation</td>
      <td>0.50%</td>
      <td>$ 0.25</td>
	  
	  
    </tr>

	
  </tbody>
</table>

</div>

<div class="container">
<h3>step 3: Ranks Earning</h3>
<table class="table">
  <thead class="thead-dark p-2">
    <tr>
	  <th> SL</th>
      <th scope="col">Reward Point</th>
      <th scope="col">RewardBonus $</th>
      <th scope="col">Achived Ranks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> 1</td>
      <td>300</td>
	  <td> $ 50.00</td>
      <td>Super Silver</td>
	  
      
	  
	 
    </tr>
    <tr>
      <td> 2</td>
      <td>1000</td>
      <td>$ 150.00</td>
      <td>Glittering Pearl</td>
	  
    </tr>
    <tr>
     <td>3</td>
      <td>3000</td>
      <td>$ 300.00</td>
      <td>Holy Ruby </td>
	 
	 
    </tr>
	 <tr>
     <td>4</td>
      <td>7000</td>
      <td>$ 500.00</td>
      <td>Extreme Gold</td>
	 
    </tr>
	 <tr>
     <td> 5</td>
      <td>1500</td>
      <td>I Phone</td>
      <td>Premium Platinum</td>
	 
	  
    </tr>
	 <tr>
      <td>6</td>
      <td>40000</td>
      <td>MAC Book & Singapore trip. </td>
      <td>Reflective Rhodium</td>
	  
	  
    </tr>
	 <tr>
      <td>7</td>
      <td>80000</td>
      <td>Sadden car & France trip</td>
      <td>Sharp Diamond</td>
	  
	  
    </tr>
		 <tr>
      <td>8</td>
      <td>Having 10 sharp diamond holders</td>
      <td>Luxurious Apartment</td>
      <td>Lustrous Titanium</td>
	  
	  
    </tr>
			 <tr>
      <td>9</td>
      <td>Having 10 lustrous Titanium holders</td>
      <td>10% Profit of Company</td>
      <td>Crown Ambassador</td>
	  
	  
    </tr>
			

	
  </tbody>
</table>

</div>
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
   
</body>
</html> 

